<div class="container">
  <% @coordinates.each do |coordinate| %>
    <div class="row justify-content-md-center">
      <div class="col-lg-8  col-md-12 mt-4">
        <div class="card-text-center shadow mb-5 bg-white rounded">
          <div class="card-header">
            <% if coordinate.user %>
              by <%= link_to coordinate.user.name, coordinate_path(coordinate) %>
            <% end %>
          </div>

          <div class="card-body">
            <h3 class="card-title coordinate-title"><%= link_to coordinate.name, coordinate_path(coordinate), class: "text-success" %></h3>
            <table class="table table-list">
              <thead>
              <tr>
                <th>アイテム名</th>
                <th class="category_name">カテゴリ名</th>
                <th>価格</th>
              </tr>
              </thead>
              <% sum = 0 %>
              <% coordinate.items.each do |item| %>
                <tr>
                  <td>
                    <%= link_to("#{item.item_name}", item, class: "item_link") %>
                  </td>
                  <td>
                    <%= "#{item.category.name}" %>
                  </td>
                  <td class="item_price">
                    <%= "#{item.price} 円" %>
                  </td>
                </tr>
              <% end %>
            </table>

            <% if (current_user == coordinate.user) || current_user.admin? %>
              <%= link_to "編集", edit_coordinate_path(coordinate), class: "btn btn-outline-info" %>
              <%= link_to "削除", coordinate_path(coordinate), class: "btn btn-outline-danger", id: "delete-button", method: :delete, data: {confirm: "コーディネートを削除しますか?"} %>
            <% end %>


            <% sum = 0 %>
            <% coordinate.items.each do |item| %>
              <% sum += item.price %>
            <% end %>

            <div class="sum_price">
              <%= "#{sum} 円" %>
            </div>

          </div>
          <div class="card-footer text-muted PhotoBox SlideBox">
            <small>作成日時 <%= coordinate.created_at.to_s(:datetime_jp) %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>