<h1>Friends</h1>

<div class="search-area search">
  <h3>Search Friends</h3>
  <%= form_with url: search_friend_path, remote: true, method: :get do  |f| %>
    <div class="form-group row">
      <div class="col-xs-9 no-right-padding">
        <%= f.text_field :friend, placeholder: "Name or email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-xs-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= icon('fas', 'search') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div id="friend-results">
<%# if !@friends.empty? %>
  <% if @friends.present? %>
    <%= render 'friends/list' %>
  <% end %>
</div>

