<% if @items.any? %>
  <div class="row item-cards">
    <% @items.each do |item| %>
      <div class="col-lg-4 col-md-12 card-index">
        <div class="card">
          <div class="card-header" >
            <div class="item-user">
              <% if item.user.avatar? %>
                <%= link_to image_tag(item.user.avatar.to_s, size: "50x50", class: 'user_avatar rounded-circle d-none d-md-inline', alt: 'avatar image'), item.user, class: 'mr-2' %>
              <% else %>
                <%= link_to image_tag('no-avatar.png',size: "50x50",  class: 'user_avatar rounded-circle d-none d-md-inline', alt: 'avatar image'), item.user, class: 'mr-2' %>
              <% end %>
              <%= link_to item.user.name, item.user %>
            </div>
            <div class="item-info">
<!--              <small><%#= set_address(item.prefecture.name, item.city.name) %></small><br>-->
              <small><%= item.created_at.to_s(:datetime_jp) %></small>
            </div>
          </div>
          <%= link_to image_tag(item.image.to_s, size: "347x350", class: 'weather_image_index', alt: 'Weather image'), item %>

          <div class="card-footer">
            <div>
<!--              <span><%#= "コメント#{item.comments.count}件" %></span>-->
              <span><%= "いいね！#{item.likes.count}件" %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>