<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @items.present? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">URL</th>
          <th scope="col">Save</th>
        </tr>
        </thead>
        <tbody>
        <% @items.first(10).each do |item| %>
          <tr>
            <td><%= item['itemName'] %></td>
            <td class="item_price"><%= "#{item['itemPrice']} 円" %></td>
            <td><%= link_to(image_tag("#{item['mediumImageUrls'][0]}")) %></td>
            <td><%= link_to 'Page', "#{item['itemUrl']}", class: 'btn btn-success btn-rakuten-page' %></td>
            <td><%= link_to 'Save', {:controller => "items", :action => "save", :item_name => item['itemName'], :price => item['itemPrice'], :brand => item['shopName'], :image => item['mediumImageUrls'][0].gsub("?_ex=128x128", "")},
                            method: :post, data: {confirm: '保存しますか？'}, class: 'btn btn-primary btn-rakuten-save' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>