<div class="container">
  <% @items.each do |item| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card-text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if item.user %>
              by <%= link_to item.user.name, item_path(item) %>
            <% end %>
            <% if item.image? %>
              <%#= image_tag item.image.thumb.url %>
              <%= image_tag item.image.url %>
            <% else %>
              <%= image_tag 'no-image.jpg'%>
            <% end %>
          </div>

          <div class="card-body">
            <h5 class="card-title">アイテム名　　　<%= link_to item.item_name, item_path(item.user_id), class: "text-success" %></h5>
            <h6 class="card-text">価格　　　　　　　　<%= item.price%>円</h6>
            <h6 class="card-text">ブランド　　　　　　<%= item.brand %></h6>
            <h6 class="card-text">カテゴリ　　　　　　<%= item.category.name %></h6>
            <span class="card-content"><%= simple_format(item.content) %></span>

            <%= link_to "編集", edit_item_path(item), class: "btn btn-outline-info" %>
            <%= link_to "削除", item_path(item), class: "btn btn-outline-danger", id: "delete-button", method: :delete, data: {confirm: "アイテムを削除しますか?"} %>
            <li class="list-inline-item">
              <%= render 'likes/like_area', item: item %>
            </li>
          </div>
          <div class="card-footer text-muted PhotoBox SlideBox">
            <small>作成日時 <%= item.created_at.to_s(:datetime_jp) %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $(document).on("turbolinks:load", function() {
        $(".PhotoBox").hover(function(){
            $(".SlideBox",this).stop().animate({bottom:"0px"},"fast");
        },function(){
            $(".SlideBox",this).stop().animate({bottom:"-70px"},"slow");
        });
    })
</script>

