<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @item %>
      <%= form_with(model: @item, class: "shadow p-3 mb-3 bg-light rounded", local: true) do |f| %>

        <div class="form-group row">
          <%= f.label :item_name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :item_name, class: "form-control shadow rounded", placeholder: "Name of item" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :price, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :price, rows: 10, class: "form-control shadow rounded", placeholder: "Price of item" %>
          </div>
        </div>


        <div class="form-group row">
          <%= f.label :URL, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :url, rows: 10, class: "form-control shadow rounded", placeholder: "Url of item" %>
          </div>
          <%= f.label :image %><br/>
          <%= f.file_field :image, class: "image" %>
          <p><%= f.check_box :remove_image %>remove image</p>
        </div>


        <!--        チェックボックスはCategory modelを作ってから-->
        <!--        <div class="form-group row">-->
        <!--          <div class="col-sm-offset-2 col-sm-8">-->
        <%#= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <%# cb.label(class: "checkbox-inline input_checkbox")  {cb.check_box(class: "checkbox") + cb.text}%>
        <%#  end %>
        <!--          </div>-->
        <!--        </div>-->

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="link">
      <%= link_to '[ Cancel and return to items listing ]', items_path, class: "text-info" %>
    </div>
  </div>
</div>