<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @items.present? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">URL</th>
          <!--          todo いいね機能をつける-->
          <th scope="col">Save</th>
        </tr>
        </thead>
        <tbody>
        <% @items.first(10).each do |item| %>
          <tr>
            <td><%= item['itemName'] %></td>
            <td><%= "#{item['itemPrice']} 円" %></td>
            <td><%= link_to(image_tag("#{item['mediumImageUrls'][0]}")) %></td>
            <td><%= link_to 'Page', "#{item['itemUrl']}", class: 'btn btn-success' %></td>
            <td><%= link_to 'Save',{controller: "items", action: "create", id: (Item.count + 1), item_name: item['itemName'], user_id: current_user.id, image: item['mediumImageUrls'][0]},
            method: :post, data: {confirm: '保存しますか？' }, class: 'btn btn-primary' %></td>

          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>