<h1 class="text-center mt-4">Listing all items</h1>
<div class="flickr_pagination">
  <%= will_paginate @items, :container => false %>
</div>

<%= render 'item' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @items, :container => false %>
</div>
<%# @items.each do |item| %>
<!--  <hr>-->
<!--  <p><span>email: </span><%#=link_to item.user.email, user_path(item.user.id) %></p>-->
<!--  <p><span>ツイート内容: </span><%#=link_to item.body, item_path(item.id) %></p>-->
  <%# if user_signed_in? %>
    <%# if item.wanted_by?(current_user) %>
<!--      <p><span>欲しい解除: </span><%#=link_to item.favorites.count, item_wants_path(item.id), method: :delete %></p>-->
    <%# else %>
<!--      <p><span>欲しい登録: </span><%#=link_to item.favorites.count, item_wants_path(item.id), method: :post %></p>-->
    <%# end %>
  <%# else %>
<!--    <p><span>欲しい数: </span><%#= item.favorites.count %></p>-->
  <%# end %>
<%# end %>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <% if items.any? %>
    <div class="row item-cards">
      <% items.each do |item| %>
        <div class="col-lg-4 col-md-12 card-index">
          <div class="card">
            <div class="card-header" >
              <div class="item-user">
                <%# if item.user.avatar? %>
                <%#= link_to image_tag(item.user.avatar.to_s, class: 'user_avatar', alt: 'avatar image'), item.user, class: 'mr-2' %>
                <%# else %>
                <%#= link_to image_tag('no-avatar.png', class: 'user_avatar', alt: 'avatar image'), item.user, class: 'mr-2' %>
                <%# end %>
                <%= link_to item.user.name, item.user %>
              </div>
              <div class="item-info">
                <!--                <small><%#= set_address(item.prefecture.name, item.city.name) %></small><br>-->
                <small><%= item.created_at.to_s(:datetime_jp) %></small>
              </div>
            </div>
            <%= link_to image_tag(item.image.to_s, class: 'weather_image_index', alt: 'Weather image'), item %>

            <div class="card-footer">
              <div>
                <span><%= "コメント#{item.comments.count}件" %></span>
                <span><%= "いいね！#{item.favorites.count}件" %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= paginate items %>
    <%#= render 'shared/infinitescroll' %>

  <% end %>

  <%#= render 'index_new_item_btn' %>

</main>